boto3==1.39.10
botocore==1.39.10
certifi==2025.7.14
charset-normalizer==3.4.2
ecdsa==0.19.1
idna==3.10
jmespath==1.0.1
numpy==1.26.4
pyasn1==0.6.1
PyMuPDF==1.26.3
python-dateutil==2.9.0.post0
python-jose==3.5.0
requests==2.32.4
rsa==4.9.1
s3transfer==0.13.1
six==1.17.0
urllib3==2.5.0
